header {
  height: fit-content;
  background-color: #505359;
  color: white;
  text-align: center;
  padding: 20px 0;
}

main {
  display: flex;
  max-width: 1200px;
  justify-content: center;
  gap: 20px;
}

/*search*/
#searchForm {
  display: flex;
  flex-direction: column;
  border: 1px solid blue;
}

form>p {
  font-size: 20px;
  padding: 5px 0;
}

#searchBar {
  display: flex;
  padding: 5px 0;
}

#searchBar>input {
  padding: 0 5px;
  width: 75%;
}

#searchBtn {
  display: flex;
}

svg {
  padding: 3px;
  background-color: blueviolet;
  color: white;
}

#savedCities {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  background-color: #505359;
  border-right: 1px solid #505359;
  border-bottom: 1px solid #505359;
  margin: 10px 0;
}

.cityBtn {
  background-color: white;
  text-align: start;
  padding: 12px;
  border: none;
  margin: 0.5px;
}

.cityBtn:hover {
  background-color: salmon;
}

/*search*/

#cityName {
  border: 1px solid black;
  width: fit-content;
  height: fit-content
}

#currWeather {
  border: 1px solid black;
  width: 200px;
  height: 200px;
}

#uvi {}

#forecast {
  border: 1px solid black;
  width: 200px;
  height: 100px;
}