@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700;900&display=swap');

:root {
  --outLineColor: pink;
  --fillColor: #5C5Cff;
}

* {
  font-family: 'Roboto', sans-serif;
  font-size: 1.025em;
}

html {
  background-color: #FBFBFB;
}

h2 {
  font-size: 1.75em
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.17em;
}

header {
  height: fit-content;
  background-color: #710a1e;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 2em;
  margin-bottom: 12px;
}

main {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  gap: 10px;
}

/*search*/
#searchForm {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-left: 5px;
}

form>h2 {
  font-size: 1.17em;
  padding: 5px 0;
}

#searchBar {
  display: flex;
  padding: 5px 0;
  align-items: center;
}

#searchBar>input {
  padding: 7px;
  width: 75%;
  border: 1px solid var(--outLineColor);
  border-radius: 4px;
}

#searchBtn {
  background-image: url(/magnify.svg);
  background-repeat: no-repeat;
  background-size: 1.25em;
  background-position: center;
  border: 3px solid skyblue;
  border-radius: 4px;
  height: 45px;
  width: 45px;
  background-color: var(--fillColor);
}

#searchBtn:hover {
  border: 1px solid cornflowerblue;
}

#savedCities {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  border-top: 1px solid var(--outLineColor);
  border-left: 1px solid var(--outLineColor);
  border-right: 1px solid var(--outLineColor);
}

.cityBtn {
  background-color: white;
  text-align: start;
  padding: 12px;
  border: none;
  border-bottom: 1px solid var(--outLineColor);
}

.cityBtn:hover {
  background-color: #F9D7de;
}

/*current weather*/
#weather {
  display: flex;
  flex-direction: column;
  width: 75%;
  gap: 40px;
}

#current {
  border: 1px solid var(--outLineColor);
  border-radius: 4px;
  padding: 17px;
  line-height: 3;
}

#cityName {
  display: flex;
  align-items: center;
}

.weatherIcon {
  width: 50px;
  height: 50px;
}

#currWeather>p {
  font-size: 1.25em;
}

#uvi {
  padding: 5px;
  color: white;
}

/*five day weather*/
#fiveDay {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#forecast {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  background-color: var(--fillColor);
  color: white;
  border-radius: 4px;
  padding: 5px 10px;
  line-height: 2.5;
  display: flex;
  flex-direction: column;
  min-width: 150px;
  margin-bottom: 5px;
}

/* Smaller screens and Tablets */
@media screen and (max-width: 992px) {
  #fiveDay {
    align-items: center;
  }

  #forecast {
    justify-content: center;
  }

  #searchBar {
    flex-direction: column;
    align-items: stretch;
  }

  #searchBar>input {
    width: 100%;
  }

  #searchBtn {
    width: 100%;
  }
}

/* Large smartphones */
@media screen and (max-width: 768px) {
  .card {
    line-height: 1.75;
    align-items: center;
  }

  #current {
    line-height: 1.5;
  }
}

/* Small smartphones*/
@media screen and (max-width: 576px) {
  main {
    gap: 5px;
  }

  .cityBtn {
    font-size: .75em;
    padding: 12px 2.5px;
    text-align: center;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
  }
}